<footer class="footer">
  <div class="footer-container">
    <!-- Logo & Description -->
    <div class="footer-section logo-section">
      <div class="footer-logo">
        <a routerLink="/">
          <div class="logo-crop">
            <img
              src="logo/tawredahWhiteEn.png"
              alt="Tawredah Logo"
            />
          </div>

        </a>
      </div>

      <p class="footer-description">
        Your trusted partner for premium printing solutions in Egypt. We combine
        cutting-edge technology with expert craftsmanship to deliver exceptional
        results for every project.
      </p>

      <!-- rights -->
      <p class="footer-rights">© 2025 Tawredah. All Rights Reserved.</p>
    </div>

    <!-- Services -->
    <div class="footer-section">
      <h3>Services</h3>
      <ul>
        <li><a href="#">Factories</a></li>
        <li><a href="#">Retailors</a></li>
        <li><a href="#">Unclaimed Cargo</a></li>
        <li><a href="#">Request Product</a></li>
      </ul>
    </div>

    <!-- Products -->
    <div class="footer-section">
      <h3>Products</h3>
      <ul>
        <li><a href="#">Packaging</a></li>
        <li><a href="#">Glass</a></li>
        <li><a href="#">Plastic</a></li>
        <li><a href="#">Raw Materials</a></li>
      </ul>
    </div>

    <!-- Company -->
    <div class="footer-section">
      <h3>Company</h3>
      <ul>
        <li><a [routerLink]="['/about']" routerLinkActive="router-link-active" >About Us</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Our Vision</a></li>
        <li><a href="#">Policies</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div class="footer-section contact-section">
      <h3>Contact us</h3>
      <ul>
        <li><i class="pi pi-envelope"></i> Tawredah&commat;gmail.com</li>
        <li><i class="pi pi-phone"></i> +2010000000000</li>

        <li><i class="pi pi-map-marker"></i> Smouha, Alexandria, Egypt</li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="pi pi-whatsapp"></i></a>
        <a href="#"><i class="pi pi-linkedin"></i></a>
        <a href="#"><i class="pi pi-instagram"></i></a>
        <a href="#"><i class="pi pi-twitter"></i></a>
      </div>
    </div>

    <p class="footer-rights-mobile">© 2025 Tawredah. All Rights Reserved.</p>
  </div>
</footer>
