<app-navbar-general-component></app-navbar-general-component>
<div class="not-found-container">
  <img src="not-allowed.svg" alt="401 Not Authorized" class="not-found-img" />

  <h1>401</h1>
  <h2>Oops! You're not authorized to use this page</h2>
  <p>
    The page you are looking for is protected, you have to login or subscribe to enter it.
  </p>

  <button pButton routerLink="/login" label="Login" class="back-btn"></button>
  <!-- <button pButton routerLink="/main" label="Back to Home" class="back-btn"></button> -->
</div>